body {
  background-image: linear-gradient(to top, #2e3d46 0%, #273048 70%, #1e2949 80%, #1e2b34 100%);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskList {
  width: 95%;
  display: flex;
}

.taskList__users {
  max-width: 45px;
  min-width: 45px;
}

.taskList__usersTime {
  flex: 1;
  max-width: 100%;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.userInfo {
  width: 100%;
  height: 25px;
  flex: 1;
  line-height: 25px;
  max-width: 100px;
  padding-left: 5px;
  font-size: 10px;
  letter-spacing: .3px;
  padding-right: 5px;
  color: #fff;
  font-weight: 300;
}

.userInfo__timeList {
  flex: 1;
  height: 100%;
  max-width: 100%;
}

.time-line {
  height: 26px;
  border-top: 1px solid #525b69;
}

.time-line:nth-last-child(2) {
  height: 27px;
  border-bottom: 1px solid #525b69;
}

.time-measure {
  display: flex;
  width: calc(100% + (100% / 48));
  margin-left: -1.04166666667%;
}

.time-measure__item {
  flex: 1;
  position: relative;
}

.time-measure__item:after{
  content: "";
  width: 1px;
  height: 9px;
  background: #525b69;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.time-measure__item:nth-of-type(2n):after {
  height: 5px;
}

.time-measure__item:nth-of-type(2n) p {
  margin-top: 6px;
}

.time-measure__item p {
  color: #c6ccd2;
  font-weight: 100;
  font-size: 7px;
  margin-top: 10px;
  text-align: center;
}
.time-line__item {
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 25px;
  background: #17b6c4;
  cursor: all-scroll;
}

.time-line__control {
  width: 3px;
  height: calc(100% + 6px);
  margin-top: -3px;
  background: #ccc;
  cursor: w-resize;
}

.time-line__control:first-child{
  margin-left: -2px;
  box-shadow: 1px 0 1px 1px rgba(0,0,0,.2);
}

.time-line__control:last-child{
  margin-right: -2px;
  box-shadow: -1px 0 1px 1px rgba(0,0,0,.2);
}
